@charset "utf-8";


*{box-sizing: border-box;}
html, body{margin: 0; padding:0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

header{
    width: 1200px; margin: 0 auto; padding: 0 10px; height: 70px;
    display: flex;justify-content: space-between; align-items: center;
}
header .logo{}
header .logo img{display: block; height: 40px;}
header nav{}
header nav ul{display: flex; align-items: center; justify-content: center;}
header nav ul li{margin: 0 15px;}
header nav ul li a{color: #555; text-transform: uppercase; transition: color 0.5s;}
header nav ul li a:hover{color: #000;}

.banner{
    width: 100%; height: 400px; background-size: cover;
    background-position: 50% 50%; background-image: url(../img/visual_02.png);
}
.banner .wrap{width: 1200px; height: 100%; margin: 0 auto;}
.banner .wrap .txtPart{padding: 130px 200px;}
.banner .wrap .txtPart h3{font-size: 25px; color: #fff; width: 230px; font-weight: normal;}
.banner .wrap .txtPart button{padding: 3px 18px; background: none; color: #fff; border: 1px solid #fff; border-radius: 10px; margin-top: 20px; cursor: pointer;}
.banner .wrap .txtPart button:hover{background: rgba(255,255,255,0.2); transition: background 0.5s;}

.todayMv{padding: 60px 0;}
.todayMv .wrap{width: 1200px; padding: 0 10px; margin: 0 auto;  }
.todayMv .wrap h3{text-align: center; font-weight: normal; padding-bottom: 40px; font-size: 24px; color: #555;}
.todayMv .wrap .box_mv{display: flex;}
.todayMv .wrap .box_mv .box_cont .box{

    width:calc(1200px / 3 - 20px);height: 200px; background-size: cover; background-position: 50% 50%;
    position: relative; margin-left: 10px;
}
.todayMv .wrap .box_mv .box_cont .box .icon{}
.todayMv .wrap .box_mv .box_cont .box .icon img{
    height: 40px; line-height: 200px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    cursor: pointer;
}
.todayMv .wrap .box_mv .box_cont .txt{padding: 20px 10px;}

#schedule{
    height: 300px; background-image: url(../img/visual_04.png);
    background-size: cover; background-position: 50% 50%;

}

#schedule .wrap{
    width: 1200px; margin:0 auto; padding: 60px 10px; color: #fff; text-align: center;
}
#schedule .wrap h3{font-size: 24px; font-weight: 300; padding-bottom: 40px;}
#schedule .wrap p{font-size: 16px; padding-bottom: 30px;}
#schedule .wrap button{
    font-size: 16px; width: 200px; height: 30px; border: 1px solid #fff;
    background: transparent; color: #fff; border-radius: 20px; padding: 5px 0;
    font-weight: 300; cursor: pointer; transition: background 0.5s;
}
#schedule .wrap button:hover{background: rgba(255,255,255,0.2); }

#actors{height: auto; padding-bottom: 50px;}
#actors .wrap{width: 1200px;  margin: 0 auto;  position: relative; padding-bottom: 80px;}
#actors .wrap h3{
    text-align: center; padding: 60px 0 40px; color: #555;
    font-size: 24px; font-weight: normal;
}

#actors .wrap .actor_cont{display: flex; flex-wrap: wrap;}

#actors .wrap .box{
    width: calc(100% / 3 - 20px); height: 380px;
    
    background-size: cover; background-position: 50% 50%;
    position: relative; margin: 10px; overflow: hidden;
    
   
   
}

#actors .wrap .box .txt{
    transform: translateY(200%); 
    position: absolute; bottom: 0; height: 60px; width: 100%;
    background: rgba(0,0,0,0.6);  transition: transform 1s;
}

#actors .wrap .box:hover .txt{ transform: translateY(0%);}

#actors .wrap .box .txt > ul{display: flex; justify-content: space-between; line-height: 60px;}
#actors .wrap .box .txt > ul > li{
    font-size: 18px;
    padding: 0 20px; color: #fff; font-weight: 300;
}
#actors .wrap .box .txt > ul > li:first-child{line-height: 65px;}
#actors .wrap .box .txt > ul > li > button{ cursor: pointer;
    width: 160px; height: 30px; border: 1px solid #fff; border-radius: 15px;
    background: transparent; color: #fff; transition: background 0.5s, color 0.3s;
}

#actors .wrap .box .txt > ul > li > button:hover{background: rgba(255,255,255,0.2);}

#actors .wrap .more{
    width: 185px; height: 40px; position: absolute;
    background: #555; border: none; border-radius: 20px;
    bottom: 0; left: 50%; transform: translateX(-50%);
    color: #fff; cursor: pointer; cursor: pointer;
}

#actors .wrap .more:hover{background: #333;}

#reviewes{
    height: 480px; background-size: cover; background-position: 50% 50%;
    background-image: url(../img/content_03.png); 
}

#reviewes .wrap{width: 1200px; margin: 0 auto; color: #fff; text-align: center;  }
#reviewes .wrap h3{padding: 60px 0 40px; font-family: 'Poppins', sans-serif; font-weight: normal; font-size: 24px;}


#reviewes .review {font-size: 14px;}

#reviewes .slide_part{width: 100%; overflow: hidden;}
#reviewes .slide_part > ul{width: 300%; display: flex;}
#reviewes .slide_part > ul >li{width: calc(100% / 3);}
#reviewes .slide_part > ul > li > p{}
#reviewes .slide_part > ul > li > p > img{}

#reviewes .review .act_img{
    height: 100px; width: 100px; background-size: cover;
    border-radius: 50%; margin: 40px 0 15px;
}

#reviewes .button_part{text-align: center; display: flex; justify-content: center;}
#reviewes .button_part > ul{width: 200px; display: flex; padding-top: 50px;}
#reviewes .button_part > ul > li{
    width: calc(100% / 3 - 20px); margin: 0 10px; height: 5px; background: #fff;
    border-radius: 1px;  z-index: 2;
    bottom: 20px; left: 50%; cursor: pointer;
}

#reviewes .button_part > ul > li.active{background: rgb(80, 167, 77); box-shadow: none;}

footer{height: 190px; background: #555; color: #fff;}
footer .wrap{width: 1200px; margin: 0 auto;}

footer .wrap .top{}
footer .wrap .top > ul{display: flex; padding-top: 40px;}
footer .wrap .top > ul > li{line-height: 30px; margin-right: 30px; color: #fff; font-size: 14px;}
footer .wrap .top > ul > li > a{color: #fff;}
footer .wrap .top .line{width: 100%; height: 1px; background: #ddd;}

footer .wrap .bottom{
    padding-top: 20px; font-size: 12px;
    display: flex; justify-content: space-between;
}